#listing-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    background-color: white;
    width: 100%;
    margin-left: 30px;
    margin-left: 50px;
    margin-top: 150px;
    
}

#listing-card-image{
    background: url("https://d37ukvrrv3in12.cloudfront.net/listings/2f0059e5-0c4c-4ba0-89e9-31ca11a107eb/xl/0.jpg");
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 220px;

}

#listing-card-desc{
    margin: 20px 20px 20px 0px;
    height: 110px;
    
}
#listing-card-title{
    color: grey;
    font-size: 16px;
    font-weight: 400;
    width: calc(100% - 20px);
    margin-left: 20px;
}
#listing-card-address{
    color: #144273;
    font-size: 12px;
    word-spacing: 2px;
    margin-top: 10px;
    width: calc(100% - 20px);
    margin-left: 20px;
}
#listing-card-rating{
    color: #CCCCCC;
    font-size: 12px;
    margin-top: 8px;
    width: calc(100% - 20px);
    padding-left: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    padding-bottom: 8px;
}
#listing-card-rating .verified{
    color: #FACC39;
}
#listing-card-viewership{
    font-size: 12px;
    color: grey;
    width: calc(100% - 20px);
    margin-left: 20px;
    margin-top: 10px;
}